<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input placeholder="enter username"  name="username" id=""/><br/><br/>
        <textarea placeholder="write your text" name="content" id=""></textarea><br/><br/>
        <button>submit</button>
    </form>
    
</body>
</html>